extends layout

block content
	.homepage-container
		.login-box
			.inner-padding
				img.logo(src='img/logo.png', width='217', height='239', alt='Logo')
				h3 Free & ready to go web chat room.
				p
					a(href="/auth/google")
						i
						| Advisa employees
					em or
					a(href="/login")
						i
						| Bank employees

		// #login-box
	// .homepage-container

